@model EBookLibrary.ViewModels.BookVMs.AddBook
@{
}

<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Add Book</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form method="post" asp-action="AddBookView" asp-controller="Book" style="margin-left: 10px;">
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <label>Title</label>
                        <input type="text" required asp-for="Title" />
                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <label>Publisher</label>
                        <input type="text" required asp-for="Publisher" />
                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <label>ISBN</label>
                        <input type="text" required asp-for="Isbn" />
                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <label>Description</label>
                        <input type="text" required asp-for="Description" />
                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <label>Pages</label>
                        <input type="text" required asp-for="Pages" />
                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <label>Author</label>
                        <input type="text" required asp-for="Author" />
                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <label>Available Copies</label>
                        <input type="text" required asp-for="CopiesAvailable" />
                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <label>Publisher Date</label>
                        <input type="date" class="form-control" required asp-for="DatePublished" />
                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <label>Date Created</label>
                        <input type="date" class="form-control" required asp-for="CreatedAt" />
                    </div>
                    <div class="input_field">
                        <label for="cars">Choose a Category</label>
                        <select name="Sci-fi" value="Sci-fi" asp-for="Category">
                            <option value="Sci-fi">Sci-fi</option>
                            <option value="Horror">Horror</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Drama">Drama</option>
                            <option value="Art">Art</option>
                            <option value="Biography">Biography</option>
                            <option value="Sports">Sports</option>
                            <option value="Travel">Travel</option>
                            <option value="Sports">Sports</option>
                        </select>
                    </div>

                        <input class="button" type="submit" value="Add" />
                </form>
            </div>
        </div>
    </div>
</div>
