<section>

    <div class="d-flex flex-wrap flex-lg-wrap justify-content-center pt-2 mb-4">

        <div class="col-lg-12 border-0 mb-3 mt-4 text-center mySection-header">
            <form>
                <input type="text" name="searchTerm" style="width: 40%; height: 40px; font-size: 15pt; font-weight: bolder; border-radius: 10px 0px 0px 10px; border: 2px solid grey; margin: 0px; border-right: none;"/>
                <input type="submit" style="height: 40px; border:none; margin-left:-6px;" class="bg-primary" value="Search"/>
            </form>
        </div>
        <div class="card border-0 col-lg-2 col-sm-6 mb-3 mt-4 mr-2 ml-2">
            <a href="#"><img class="card-img-top rounded" asp-append-version="true" src="~/images/image03.jpg" alt="image" width="200" height="250" /></a>
            <div class="card-body p-0 mt-3 myBook-card">
                <p class="text-secondary text-capitalize">Book Name</p>
                <p class="text-secondary text-capitalize">Book Category</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;">Book Author</p>
                <p>*****</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;"> Available</p>
            </div>
        </div>
        <div class="card border-0 col-lg-2 col-sm-6 mb-3 mt-4 mr-2 ml-2">
            <a href="#"><img class="card-img-top rounded" asp-append-version="true" src="~/images/image02.jpg" alt="image" width="200" height="250" /></a>
            <div class="card-body p-0 mt-3 myBook-card">
                <p class="text-secondary text-capitalize">Book Name</p>
                <p class="text-secondary text-capitalize">Book Category</p>
                <p class="text-secondary text-capitalize">Book Author</p>
                <p>*****</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;"> Available</p>
            </div>
        </div>
        <div class="card border-0 col-lg-2 col-sm-6 mt-4 mr-2 ml-2">
            <a href="#"><img class="card-img-top rounded" asp-append-version="true" src="~/images/image01.png" alt="image" width="200" height="250" /></a>
            <div class="card-body p-0 mt-3 myBook-card">
                <p class="text-secondary text-capitalize">Book Name</p>
                <p class="text-secondary text-capitalize">Book Category</p>
                <p class="text-secondary text-capitalize">Book Author</p>
                <p>*****</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;"> Available</p>
            </div>
        </div>
        <div class="card border-0 col-lg-2 col-sm-6 mt-4 mr-2 ml-2">
            <a href="#"><img class="card-img-top rounded" asp-append-version="true" src="~/images/image05.jpg" alt="image" width="200" height="250" /></a>
            <div class="card-body p-0 mt-3 myBook-card">
                <p class="text-secondary text-capitalize">Book Name</p>
                <p class="text-secondary text-capitalize">Book Category</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;">Book Author</p>
                <p>*****</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;"> Available</p>
            </div>
        </div>
        <div class="card border-0 col-lg-2 col-sm-6 mt-4 mr-2 ml-2">
            <a href="#"><img class="card-img-top rounded" asp-append-version="true" src="~/images/image03.jpg" alt="image" width="200" height="250" /></a>
            <div class="card-body p-0 mt-3 myBook-card">
                <p class="text-secondary text-capitalize">Book Name</p>
                <p class="text-secondary text-capitalize">Book Category</p>
                <p class="text-secondary text-capitalize">Book Author</p>
                <p>*****</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;"> Available</p>
            </div>
        </div>
    </div>
</section>

<section>

    <div class="d-flex flex-wrap justify-content-center pt-2 mb-4">

        <div class="card border-0 col-lg-2 col-sm-6 mb-3 mt-4 mr-2 ml-2">
            <a href="#"><img class="card-img-top rounded" asp-append-version="true" src="~/images/image05.jpg" alt="image" width="200" height="250" /></a>
            <div class="card-body p-0 mt-3 myBook-card">
                <p class="text-secondary text-capitalize">Book Name</p>
                <p class="text-secondary text-capitalize">Book Category</p>
                <p class="text-secondary text-capitalize">Book Author</p>
                <p>*****</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;"> Available</p>
            </div>
        </div>
        <div class="card border-0 col-lg-2 col-sm-6 mb-3 mt-4 mr-2 ml-2">
            <a href="#"><img class="card-img-top rounded" asp-append-version="true" src="~/images/image02.jpg" alt="image" width="200" height="250" /></a>
            <div class="card-body p-0 mt-3 myBook-card">
                <p class="text-secondary text-capitalize">Book Name</p>
                <p class="text-secondary text-capitalize">Book Category</p>
                <p class="text-secondary text-capitalize">Book Author</p>
                <p>*****</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;"> Available</p>
            </div>
        </div>
        <div class="card border-0 col-lg-2 col-sm-6 mb-3 mt-4 mr-2 ml-2">
            <a href="#"><img class="card-img-top rounded" asp-append-version="true" src="~/images/image05.jpg" alt="image" width="200" height="250" /></a>
            <div class="card-body p-0 mt-3 myBook-card">
                <p class="text-secondary text-capitalize">Book Name</p>
                <p class="text-secondary text-capitalize">Book Category</p>
                <p class="text-secondary text-capitalize">Book Author</p>
                <p>*****</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;"> Available</p>
            </div>
        </div>
        <div class="card border-0 col-lg-2 col-sm-6 mb-3 mt-4 mr-2 ml-2">
            <a href="#"><img class="card-img-top rounded" asp-append-version="true" src="~/images/image03.jpg" alt="image" width="200" height="250" /></a>
            <div class="card-body p-0 mt-3 myBook-card">
                <p class="text-secondary text-capitalize">Book Name</p>
                <p class="text-secondary text-capitalize">Book Category</p>
                <p class="text-secondary text-capitalize">Book Author</p>
                <p>*****</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;"> Available</p>
            </div>
        </div>
        <div class="card border-0 col-lg-2 col-sm-6 mb-3 mt-4 mr-2 ml-2">
            <a href="#"><img class="card-img-top rounded" asp-append-version="true" src="~/images/image05.jpg" alt="image" width="200" height="250" /></a>
            <div class="card-body p-0 mt-3 myBook-card">
                <p class="text-secondary text-capitalize">Book Name</p>
                <p class="text-secondary text-capitalize">Book Category</p>
                <p class="text-secondary text-capitalize">Book Author</p>
                <p>*****</p>
                <p class="text-secondary text-capitalize" style=" font-size:20px;"> Available</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="d-flex flex-wrap flex-lg-wrap justify-content-center pt-2 mb-4">
        <div class=border-0 col-lg-12 col-sm-12 mt-4">
            <div class="btn-group-lg">
                <a href="#" class="btn btn-outline-primary" aria-current="page"><i class="fa fa-angle-double-left"></i></a>
                <a href="#" class="btn btn-outline-primary"><i class="fa fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</section>
