/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #135e7e;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #135e7e;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #357f9f;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    /*border:1px solid red;*/
    padding: 0 30px;
}

.userImgContainer {
    display: flex;
    justify-content: flex-end;
    /*border: 1px solid red;*/
}

#userImage{
    border-radius : 50%;
    height : 200px;
    width : 200px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }

            #sidebar.active {
                margin-left: 0;
            }

        #sidebarCollapse span {
            display: none;
        }
    }



/* my Uche's admin dashboard*/

.myCard-Gradient1 {
    background: rgb(0,191,255);
    background: linear-gradient(90deg, rgba(0,191,255,1) 0%, rgba(52,87,213,1) 100%);
}

.myCard-Gradient2 {
    background: rgb(254,159,162);
    background: linear-gradient(90deg, rgba(254,159,162,1) 0%, rgba(234,8,44,0.8) 100%);
}

.myCard-Gradient3 {
    background: rgb(0,255,64);
    background: linear-gradient(90deg, rgba(0,255,64,1) 0%, rgba(1,135,73,0.8) 100%);
}

.myCard-Title{
font-weight:normal;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:18px;
}
.num {
   
    font-size: 70px;
}
.sideNav li{
   
   margin:0px
}
.sideNav li a{
    padding: 0.5em 0 0.5em 0;
}
    
/*...............uadd bookss -------------------*/
.input-group span {
    border-radius: 3px 0px 0px 3px;
}
.input-group label {
    border-radius: 3px 0px 0px 3px;
}
.input-group select {
    border-radius: 0px 3px 3px 0px;
    border: 1px solid gray;
}
