@model EBookLibrary.DTOs.Response<string>

    <div class="wrapper" id="errorPageBody">
        <div class="box">
            <h1>@ViewBag.StatusCode</h1>
            <p>@ViewBag.Message</p>
            <p>😊</p>
            @*<p>&#58;&#40;</p>*@
        <p><a href="/" id="homeBtn">Home</a></p>
        </div>
    </div>

