@model EBookLibrary.ViewModels.UserVMs.PasswordResetViewModel

@{
    ViewData["Title"] = "Password Reset";
    
}

<div class="d-flex justify-content-center align-items-center" style="height:90vh">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center align-items-center h-100">
                <div class="card-wrapper">

                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title text-center">Reset Password</h4>
                            <form method="POST" asp-action="PasswordReset" asp-controller="Account">
                                <div class="form-group">
                                    <label asp-for="Email">Email Address</label>
                                    <input type="email" class="form-control" asp-for="Email" required>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">Password</label>
                                    <input type="password" class="form-control" asp-for="Password" required>


                                </div>
                                <div class="form-group">
                                    <input type="hidden" class="form-control" asp-for="token" required>

                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" asp-for="ConfirmPassword" required>

                                    <div class="form-text text-muted">
                                        By clicking "Change Password" you will change your password
                                    </div>
                                </div>

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Change Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
