@model EBookLibrary.ViewModels.UserVMs.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
   
}

<div class="d-flex justify-content-center align-items-center" style="height:70vh">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center align-items-center h-100">
                <div class="card-wrapper">
                    <a href="C:\Code\Decagon_Tasks\week-10-group-c-online-book-library\EBookLibraryApplication\EBookLibrary\EBookLibrary.Presentation\Views\Account\registration.cshtml">C:\Code\Decagon_Tasks\week-10-group-c-online-book-library\EBookLibraryApplication\EBookLibrary\EBookLibrary.Presentation\Views\Account\registration.cshtml</a>

                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title text-center">Forgot Password</h4>
                            <form method="POST" asp-action="ForgotPassword" asp-controller="Account">
                                <div class="form-group">
                                    <label asp-for="Email">E-Mail Address</label>
                                    <input type="email" class="form-control" asp-for="Email" required>

                                    <div class="form-text text-muted">
                                        By clicking "Reset Password" we will send a password reset link
                                    </div>
                                </div>

                                <div class="form-group m-0">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
