@model RegisterationViewModel

@{
    ViewData["Title"] = "Register";

}
@{ 
    Layout = "_Layout";
}


<div class="form_wrapper box-shadow border-1">
    <div class="form_container">
        <div class="title_container">
            <h2>Register</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form method="post" asp-action="Register" asp-controller="Account">
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-envelope text-success"></i></span>
                        <input type="email" placeholder="Email" required asp-for="Email" />
                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock text-primary"></i></span>
                        <input type="password" placeholder="Password" required asp-for="Password"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter,and at least 8 or more characters" />

                    </div>
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock text-warning"></i></span>
                        <input type="password" placeholder="Confirm Password" required asp-for="ConfirmPassword" />
                    </div>
                    <div class="row clearfix">
                        <div class="col_half">
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user text-secondary"></i></span>
                                <input type="text" placeholder="First Name" asp-for="FirstName" />
                            </div>
                        </div>
                        <div class="col_half">
                            <div class="input_field">
                                <span><i aria-hidden="true" class="fa fa-user text-secondary"></i></span>
                                <input type="text" placeholder="Last Name" required asp-for="LastName" />
                            </div>
                        </div>
                    </div>
                    <div class="input_field radio_option">
                        <input type="radio"  id="rd1" asp-for="Gender" value="Male">
                        <label for="rd1">Male</label>
                        <input type="radio" id="rd2" asp-for="Gender" value="Female">
                        <label for="rd2">Female</label>
                    </div>
                    <div class="input_field checkbox_option">
                        <input type="checkbox" id="cb1">
                        <label for="cb1">I agree with terms and conditions</label>
                    </div>
                    <input class="button" type="submit" value="Register" />
                    <p style="text-align: center;">Already have an Account? <a style="text-decoration:none" asp-controller="Account" asp-action="Login">Sign-In</a></p>
                   
                </form>
            </div>
        </div>
    </div>
</div>