
@{ 
    Layout = "_Layout";
}

<div class="d-flex flex-row justify-content-center mt-5">
    <div class=" p-4">
        <div class="box text-center">
            <h4 class="text-info">Thank you for signing up.</h4>
            <p>To get started, please check your email and click the confirmation link.</p>
        </div>
    </div>
</div>