@{
    Layout = "_DashboardLayout";
}
@model AdminDashboardViewModel


<section>
    <div class="row col-12 mb-4 pb-4 d-flex justify-content-center">
        <div class="card col-lg-3 col-sm-12 p-2 border-0 box-shadow myCard-Gradient1">

            <div class="card-body text-white">

                <div class="myCard-Title">
                    User Accounts <i class="fa fa-2x fa-chart-line float-right"> </i>
                </div>

                <span class="num">@Model.RegisteredUsers</span>
                <h5>Registered Users</h5>

            </div>


        </div>
        <div class="card col-lg-3 col-sm-12 p-2 offset-lg-1 border-0 box-shadow myCard-Gradient2">
            <div class="card-body text-white">
                <div class="myCard-Title">
                    Books   <i class="fa fa-2x fa-chart-pie float-right"> </i>
                </div>
                <span class="num">
                    @Model.TotalBooks
                </span>
                <h5>Total Books</h5>
            </div>
        </div>
        <div class="card col-lg-3 col-sm-12 p-2 offset-lg-1 border-0 box-shadow myCard-Gradient3">
            <div class="card-body text-white">
                <div class="myCard-Title">

                    Reviews  <i class="fa fa-2x fa-chart-bar float-right"> </i>

                </div>
                <span class="num ">
                    @Model.RecommendedReviews
                </span>
                <h5> Recommended Reviews</h5>
            </div>
        </div>

    </div>

</section>
<section>
    <div class="row col-12 mt-2 d-flex justify-content-center">
        <div class="card col-lg-6 col-sm-12 col-sm-12 p-2 border-0 box-shadow">

            <div class="card-body text-secondary">
                <div class="myCard-Title ">
                    Last Downloads
                    <hr />
                </div>



            </div>
        </div>
        <div class="card col-lg-4 offset-lg-1 col-sm-12 p-2 border-0 box-shadow">

            <div class="card-body text-secondary">
                <div class="myCard-Title">
                    Recent Reviews
                    <hr />
                </div>


            </div>
        </div>
    </div>
</section>