@{
    Layout = "_DashboardLayout";
}
@model UserDashboardViewModel
<!-- Page Content  -->
<div id="content">

    <div class="d-flex flex-row justify-content-center row ml-lg-2 mr-lg-5 pr-lg-3">
        <!--<div class="card col-lg-9 col-sm-12 border-0 bg-transparent userImgContaine">-->
        <div class="card col-lg-9 col-md-8 col-sm-12 border-0 bg-transparent userImgContaine mt-lg-5">
            <div class="card-header bg-secondary mt-lg-5">
                <h3 class="text-white">Your details</h3>
            </div>

            <div class="card-body">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1" style="width:110px;"><b>First name</b></span>
                    </div>
                    <input type="text" class="form-control" value="@Model.FirstName" aria-label="First name" aria-describedby="basic-addon1" disabled>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1" style="width:110px;"><b>Last name</b></span>
                    </div>
                    <input type="text" class="form-control" value="@Model.LastName" aria-label="Last name" aria-describedby="basic-addon1" disabled>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1" style="width:110px;"><b>Email</b></span>
                    </div>
                    <input type="text" class="form-control" value="@Model.Email" aria-label="Email" aria-describedby="basic-addon1" disabled>
                </div>

                <div class="line"></div>
            </div>
        </div>



        <!--<div class=" card col-lg-3 col-sm-12 box-shadow border-1 w-50 p-3 h-75">-->
            <div class="card col-sm-12 col-md-4 col-lg-3 box-shadow">
                <div class="text-center userImgContainer">
                    <img class="userImage card-img-top rounded-circle" asp-append-version="true" src="@Model.AvatarUrl" alt="image" width="250" height="300" />
                </div>
                <div class="card-body text-center">
                    <h6 class="text-secondary text-uppercase">
                        UserName
                    </h6>

                    <form method="post" enctype="multipart/form-data" asp-controller="Dashboard" asp-action="UploadAvatar">
                        <input type="file" name="avatar" id="avatar"/>
                        <button type="submit" class="btn btn-block btn-info">Upload photo</button>
                    </form>
                    
                </div>
            </div>
    </div>

</div>






